:root {
  --font-size_par: 1.7rem;
  --font-size_detail_par: 1.2rem;
  --font-size_title: 2.5rem;
  --font-size_par_mobile: 1.4rem;
  --font-size_title_mobile: 2.5rem;
  --color-blue: #5a5eff;
  --color-bg: #040e32;
  --radius: 20px;
}
.border-box-line-white {
  position: relative;
  border-radius: var(--radius);
  padding: 33px;
  overflow: hidden;
  box-sizing: border-box;
  cursor: pointer;
  outline: #fff solid 1px;
  &:hover {
    outline: solid 5px;
    outline-color: var(--color-blue);
  }
}
.size_box {
  height: 100%;
  min-width: 354px;

  /* p{
    max-width: 260px;
  
 } */
}
.div_btn_regresar {
  display: flex;
  justify-content: end;
  padding: 3rem;
  width: 100%;
  z-index: 999;
}
.border-box-line-blue {
  position: relative;
  border-radius: var(--radius);
  padding: 33px;
  overflow: hidden;
  box-sizing: border-box;
  cursor: pointer;
  outline: #4244b7 solid 2px;
  &:hover {
    outline: solid 5px;
    outline-color: var(--color-blue);
  }
}
.border-box-line-white {
  p {
    text-align: center;
  }
  .div_img {
    display: flex;
    justify-content: center;
    img {
      width: 71px;
      height: auto;
      margin: 33px;
    }
  }
}

.blur_boxes {
  display: flex;
  position: absolute;
  top: 86px;
  left: -145px;
  width: 141%;
  height: 107%;
  z-index: 2;
  background-image: url('/blur_help_section.png');
  background-repeat: no-repeat;
}
.btn_lang {
  width: 90%;
  cursor: pointer;
  font-size: 1.5rem;
  text-align: center;
  outline: solid 3px;
  outline-color: #282828;
  border-radius: var(--radius);
  color: #fff;
  background-color: var(--color-blue);
}
.text-blue {
  color: var(--color-blue);
}
/* clases animadas con gsap */
.texto_div {
}
.texto_animado {
}
.texto_animado1 {
}
.image {
}
.text-animated{

}
.box_ayudarte{

}
.appear-left_element{

}
.appear_services{
  
}
.header_section {
  margin: auto;
  display: flex;
  @media (width< 900px) {
    flex-flow: column-reverse;
    align-items: center;
  }
  div {
    h1 {
      font-size: var(--font-size_title);
    }
    h1,
    p {
      color: #ffffff;
      @media (width< 900px) {
        text-align: center;
      }
    }
    p {
      font-size: var(--font-size_par);
      /* max-width: 516px; */
      padding: 1rem;
    }
    img {
      width: 515px;
      height: auto;
      padding-top: 2rem;
      @media (width< 900px) {
        width: 415px;

      }

    }
  }
}
.g-subtitle-texts {
  color: #fff;
  font-size: var(--font-size_par);
}
.g-details-texts {
  color: #fff;
  font-size: var(--font-size_detail_par);
}
h2 {
  font-size: var(--font-size_title);
  color: #fff;
}
.div_center {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}
.div_ventajas {
  display: grid;
  grid-template-columns: repeat(2rem, 1fr);
  gap: 3rem;
  z-index: 800;
  padding: 1.5rem;
  /* width: 100%; */
}
.section_ventajas {
  position: relative;
  padding: 1rem;
  h2 {
    text-align: center;
    padding: 1rem;
  }
}
.ul_ventajas {
  padding: 4rem;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  gap: 3rem;
  z-index: 999;
  background-color: var(--color-bg);
  b {
    color: var(--color-blue);
    font-size: var(--font-size_par);
    text-align: center;
    max-width: 700px;
  }
  p {
    color: #afabab;
    font-size: var(--font-size_par);
    text-align: center;
    max-width: 700px;
  }
}
.article_ventajas {
  position: relative;
}
.ball-blur-purple {
  z-index: 0;
  background-image: url('/ball-bluer-purple.svg');
  background-position: -21rem 3rem;
  background-repeat: no-repeat;
  background-size: contain;
  width: 75%;
  height: 121%;
  position: absolute;
  top: 45rem;
}
.ball-blur-purple-right-header {
  z-index: 0;
  background-image: url('/ball-blur-purple-right-header.svg');
  background-position: right;
  background-repeat: no-repeat;
  background-size: 63rem;
  width: 99%;
  height: 57%;
  position: absolute;
  top: 0;
  @media (width < 900px) {
    background-position: -5%;
    background-repeat: no-repeat;
    background-size: 61rem;
    width: 99%;
    height: 66%;
    position: absolute;
    top: 0;
  }
}
.grid_help {
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  gap: 6rem;
  margin: 10rem;
  display: grid;
  width: 69%;
}

.div_making-reality-projects {
  padding: 2rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  .title_blue {
    color: var(--color-blue);
  }
}
.section_img_reality-projects {
  img {
    width: 100%;
  }
}
.section_stats_about-me {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 900px;
  @media (width <900px) {
    flex-flow: column;
    align-items: center;
    gap: 2rem;
  }
  i {
    color: var(--color-blue);
  }
  .section_b {
    font-size: 2rem;
    color: var(--color-blue);
    text-align: center;
  }
  b {
    color: #fff;
    font-size: 2rem;
    display: flex;
    justify-content: center;
  }
  div {
    display: flex;
    flex-flow: column;
    align-items: center;

  }
}
.blur-ball-comencecemos {
  background-image: url('/empecemos-blue-ball.svg');
  background-position: 93rem -36rem;
  background-repeat: no-repeat;
  background-size: 89rem 2336px;
  width: 100%;
  height: 217%;
  position: absolute;
  top: -21rem;
  z-index: 0;
}
.section_data_comencemos {
  padding-top: 9rem;
  @media (width <900px) {
    padding: 1rem;
    display: flex;
    flex-flow: column;
    align-items: center;
  }
}
.div_comencemos {
  padding: 3rem;
  background-image: url('/cuadro-negro-empecemos.png');
  height: 43vh;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 999;
  box-sizing: border-box;
  border-radius: var(--radius);
  section {
    display: flex;
    justify-content: space-between;
    h3 {
      max-width: 417px;
      color: #fff;
      font-size: var(--font-size_title);
    }
    .redes {
      display: flex;
      flex-flow: column;
      gap: 2rem;
      a {
        font-size: 2rem;
        outline: #fff solid 3px;
        cursor: pointer;
        border-radius: var(--radius);
        padding: 1rem;
        &:hover {
          outline: solid 3px;
          outline-color: var(--color-blue);
        }
      }
    }
  }
  @media (width < 900px) {
    background-image: url('/empecemos-img-mobile.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 65vh;
  }
}
.section_comencemos {
  position: relative;
  padding: 2rem;
  /* z-index: 999; */
}
.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 21%;
  min-width: 0;
}
.div_component {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.div_slider-proyectos{
  padding: 1rem;
  outline: solid 1px;
  outline-color:var(--color-blue) ;
}
.article_carrusel {
  display: flex;
}
.carrusel_a {
  a {
    img {
      margin: auto;
      height: auto;
      max-width: 400px;
    }
  }
}
.section_container_carrusel{
  padding: 2rem;
}
.section_carrusel {
  border-radius: var(--radius);
  background: #02081d;
  height: 42vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section_div_carrusel {
  display: flex;
  gap: 3rem;
  overflow: hidden;
}
.button_carrusel{
  background: #5a5eff;
  border: var(--radius);
  font-size: 2rem;
  padding: 1rem;
  &:hover{
    transform: scale(1.1, 1.1);
  }
}
.div_button_proyectos{
  display: flex;
  justify-content: center;
}
.div_carrusel_img {
  width: 100%;
  border: var(--radius);
  text-align: center;
  padding: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  img{
    height: auto;
    width: 900px;
    @media (width <900px) {
      
      width: 423px;
    }
    border: var(--radius);
  }
}
