:root {
  --font-size_par: 1.9rem;
  --font-size_title: 2.9rem;
  --font-size_par_mobile: 1.4rem;
  --font-size_title_mobile: 2.5rem;
  --color-blue: #5a5eff;
  --radius:20px;
}
.border-box-line-white {
  position: relative;
  border-radius: var(--radius);
  padding: 33px;
  overflow: hidden;
  box-sizing: border-box;
  cursor: pointer;
  outline: #fff solid 1px;
  &:hover {
    outline: solid 5px;
    outline-color: var(--color-blue);
  }
}
.div_btn_regresar {
  display: flex;
  justify-content: end;
  padding: 3rem;
  width: 100%;
}
.border-box-line-blue {
  position: relative;
  border-radius: var(--radius);
  padding: 33px;
  overflow: hidden;
  box-sizing: border-box;
  cursor: pointer;
  outline: #4244b7 solid 2px;
  &:hover {
    outline: solid 5px;
    outline-color: var(--color-blue);
  }
}
.border-box-line-white {
  p {
    text-align: center;
  }
  .div_img {
    display: flex;
    justify-content: center;
  }
}

.blur_boxes {
  display: flex;
  position: absolute;
  top: 86px;
  left: -145px;
  width: 141%;
  height: 107%;
  z-index: 2;
  background-image: url('/blur_help_section.png');
  background-repeat: no-repeat;
}
.btn_lang {
  width: 4rem;
  cursor: pointer;
  font-size: 1rem;
}
.text-blue {
  color: var(--color-blue);
}
/* clases animadas con gsap */
.texto_div {
}
.texto_animado {
}
.texto_animado1 {
}
.image {
}
.header_section {
  display: flex;
  margin: auto;
  div {
    h1 {
      font-size: var(--font-size_title);
    }
    h1,
    p {
      color: #fff;
    }
    p {
      font-size: var(--font-size_par);
      max-width: 516px;
      padding: 1rem;
    }
    img {
      height: auto;
      width: 405px;
      padding-top: 8rem;
    }
  }
}
p {
  color: #fff;
  font-size: var(--font-size_par);
  text-align: center;
}
h2 {
  font-size: var(--font-size_title);
  color: #fff;
  text-align: center;
}
.div_center {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  padding-top: 17rem;
}
.div_ventajas {
  display: grid;
  grid-template-columns: repeat(2rem, 1fr);
  gap: 3rem;
}
.ul_ventajas {
  padding: 4rem;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  gap: 3rem;
  b {
    color: var(--color-blue);
    font-size: var(--font-size_par);
    text-align: center;
    max-width: 700px;
  }
  p {
    color: #afabab;
    font-size: var(--font-size_par);
    text-align: center;
    max-width: 700px;
  }
}
.grid_help {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 2rem;
}

.div_making-reality-projects {
  padding: 4rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  .title_blue {
    color: var(--color-blue);
  }
}
.section_img_reality-projects {
  img {
    width: 100%;
  }
}
.section_stats_about-me {
  display: flex;
  justify-content: space-between;
  width: 60%;
  i {
    color: var(--color-blue);
  }
  .section_b {
    font-size: 2rem;
    color: var(--color-blue);
    text-align: center;
  }
  b {
    color: #fff;
    font-size: 2rem;
  }
  div {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
}
.div_comencemos {
  padding: 3rem;
  background-image: url('/cuadro-negro-empecemos.png');
  height: 30vh;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  section{
    display: flex;
    justify-content: space-between;
    h2{
      max-width: 417px;
    }
    .redes{
      display: flex;
      flex-flow: column;
      gap: 2rem;
      a{
        font-size: 2rem;
        /* border: #fff solid 2px; */
        outline: #fff solid 3px;
        cursor: pointer;
        border-radius: var(--radius);
        padding: 1rem;
        &:hover{
          outline: solid 3px;
          outline-color: var(--color-blue);
        }
      }
    }
  }
}
