.btn_lang{
    width: 4rem;
    cursor: pointer;
    font-size: 1rem;
}
.text-blue{
    color: #5A5EFF;
}
.header_section{
    display: flex;
    margin: auto;
    div{
        h1{
            font-size: 3rem;
        }
        h1, p{
            color: #fff;
        }
        img{
            padding: 2rem 0;
        }
    }
}
.div_main{
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    h2, p{
        color: #fff;
    }
    h2{
        font-size:3rem ;
    }

}